<p> Starting Chrome </p>
<p> Started chrome at PID: 
<%=
USER_DIR = "%LOCALAPPDATA%\\Google\\Chrome\\User Data"
spawn("start chrome --enable-udd-profiles --user-data-dir=\"#{USER_DIR}\" --profile-directory=\"Empty\" --proxy-server=\"127.0.0.1:3128\"")
%>
</p>
