<p> Starting Chrome </p>
<p> Started Chrome at PID: 
<%=
USER_DIR = "%LOCALAPPDATA%\\Google\\Chrome\\User Data"
spawn("start chrome --enable-udd-profiles --user-data-dir=\"#{USER_DIR}\" --profile-directory=\"Empty\"")
%>
</p>
