<p> Starting Chrome </p>
<%
USER_DIR = "%LOCALAPPDATA%/Google/Chrome/User Data"
system("start chrome --enable-udd-profiles --user-data-dir=\"#{USER_DIR}\" --profile-directory=\"Empty\" --proxy-server=\"127.0.0.1:3128\"")
%>
