<p> Starting firefox!! </p>
<p> Firefox is running as PID:
<%= 
  FIREFOX_EXEC = "/Applications/firefox.app/Contents/MacOS/firefox"
  pid = `#{FIREFOX_EXEC} -CreateProfile Empty && #{FIREFOX_EXEC} -P Empty`
%>
</p>
