<p> Starting IE </p>
<p> Started IE at PID: 
<%= 
  REG_ENTRY = "HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Internet Settings"
  spawn("reg add \"#{REG_ENTRY}\" /v ProxyEnable /t REG_DWORD /d 1 /f && reg add \"#{REG_ENTRY}\" /v ProxyServer /t REG_SZ /d 127.0.0.1:3128 /f && start iexplore")  %>
</p>
