<p> Stopping IE </p>
<% 
    REG_ENTRY = "HKCU\\Software\\Microsoft\\Windows\\CurrentVersion\\Internet Settings"
spawn("reg add \"#{REG_ENTRY}\" /v ProxyEnable /t REG_DWORD /d 0 /f && taskkill /f /im iexplore.exe") %>
