<p> Cleaning Safari </p>
<% 
PROFILE_LOCAL = "%LOCALAPPDATA%\\Apple Computer\\Safari"
PROFILE_ROAMING = "%APPDATA%\\Apple Computer\\Safari"
PROFILE_PREF = "%APPDATA%\\Apple Computer\\Preferences"
spawn ("rmdir /s /q \"#{PROFILE_LOCAL}\" && rmdir /s /q \"#{PROFILE_ROAMING}\"&& rmdir /s /q \"#{PROFILE_PREF}\"" )
%>
