<p> Cleaning Firefox Profile </p>
<% 
    PROFILE_LOCAL = "%LOCALAPPDATA%\\Mozilla\\Firefox\\Profiles\\*.Empty"
    PROFILE_ROAMING = "%APPDATA%\\Mozilla\\Firefox\\Profiles\\*.Empty"
    spawn("for /D %f in (\"#{PROFILE_LOCAL}\") do rmdir /s /q \"%f\" && for /D %f in (\"#{PROFILE_ROAMING}\") do rmdir /s /q \"%f\" ")
%>

