<p> Starting firefox!! </p>
<p> Started firefox at PID: 
<%= 
  FIREFOX_EXEC = "C:/Program Files (x86)/Mozilla Firefox/firefox.exe"
  spawn("\"#{FIREFOX_EXEC}\" -CreateProfile Empty && \"#{FIREFOX_EXEC}\" -P Empty")
  %>
</p>
